<header ng-class="{'side-menu-opened': sideMenuOpened}">
    <h1 class="main-logo">LingoBuddy</h1>
    <div class="tools-menu-holder">
        <div class="tools-menu-icon" ng-click="sideMenuOpened = true"></div>
        <div class="tools-menu">
            <nav ng-show="sideMenuOpened">
                <ul>
                    <li>
                        account name
                    </li>
                    <li>
                        settings
                    </li>
                    <li>
                        preferences
                    </li>
                    <li>
                        about
                    </li>
                    <li>
                        sign-out
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>